body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: repeating-radial-gradient(gold, crimson);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: wheat;
}
